<DOCTYPE! html>
<html>
	<head>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<title>The Gateway</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/gateway.css">
		<link href="https://fonts.googleapis.com/css?family=Dosis:400,600,700&display=swap" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="stylesheet" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="manifest" href="/site.webmanifest">
	</head>
	<body>