<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta charset="utf-8">
			
			<title>The Gateway</title>
			<meta property='title' content="Tombl">
			<meta name="image" property="image" content="/img/umbrellatom.jpg">
			<meta property='description' content="The landing page of Tombl.co.uk">
			<meta property='url' content="www.tombl.co.uk">

			<meta  name="viewport" content="width=device-width" initial-scale="1">
			
			<link rel="stylesheet" type="text/css" href="/stylesheets/gateway.css">
			<link href="https://fonts.googleapis.com/css?family=Dosis:400,600,700&display=swap" rel="stylesheet">
			<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/img/faviconx32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
			<link rel="manifest" href="/site.webmanifest">
			<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
			<meta name="msapplication-TileColor" content="#da532c">
			<meta name="theme-color" content="#ffffff">

			<script src="https://www.google.com/recaptcha/api.js"></script>
			<script>
				function onSubmit(token) {
				document.getElementById("contactForm").submit();
				}
			</script>
		</head>
		<body>