<DOCTYPE! html>
<html>
	<head>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<title>The Gateway</title>
		<meta property='og:title' content="Tombl">
        <meta name="image" property="og:image" content="/img/umbrellatom.jpg">
        <meta property='og:description' content="The landing page of Tombl.co.uk">
		<meta property='og:url' content="www.tombl.co.uk">
		
		<link rel="stylesheet" type="text/css" href="/stylesheets/gateway.css">
		<link href="https://fonts.googleapis.com/css?family=Dosis:400,600,700&display=swap" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
		<link href="/img/faviconx32.png" rel="icon" type="image/x-icon">  
	</head>
	<body>