
    <nav>
        <ul>
            <li style="color:#c83f77"><a href="/">HOME</a></li>
            <li><a href="#nav-about">ABOUT</a></li>
            <li><a href="#nav-portfolio">PORTFOLIO</a></li>
            <li><a href="#nav-contact">CONTACT</a></li>
        </ul>
    </nav>