<html>
	<head>
		<title>The Gateway</title>
		<link rel="stylesheet" href="/stylesheets/gateway.css">
		<link href="https://fonts.googleapis.com/css?family=B612:400,700&display=swap" rel="stylesheet">
		
	</head>
	<body>
		
		<canvas id="myCanvas"></canvas>
		<script src="/scripts/canvas.js"></script>
		<div class="container">
			<header>The Gateway Navbar</header>
			<div id="bio">
				<img src="/img/spacecat.jpg" id="portrait" title="Portrait of Me">
				<p>Hi, My name is Tom Burton. Welcome to my gateway.</p>
				<div>
					<h4>About me</h4>
					<h5>Things that are important to my work</h5>
					<ul>
						<li>One thing</li>
						<li>another thing</li>
						<li>A third thing</li>
						<li>One last thing</li>
					</ul>
				
				</div>
				
				
				
			</div>
			
		</div>
		
	</body>
	
</html>