<%- include("partials/header") %>
<%- include("partials/nav") %>

		
		<!-- Home -->
<div id="nav-home" class="container">
		<div class="grid-item home">
			<div class="margin">
				<h1 id="T" class="on-load slide-down a">Thomas</h1>
				<h1 id="BL" class="on-load slide-down b">Burton-Lawl</h1>
				<h4 id="jobRole" class="slide-right title" >Full Stack Web developer</h4>

			</div>
			
		</div>
<!--About-->			
	<div id="nav-about" class="grid-item about">
		<div class="text-wrap">
			<h3>ABOUT</h3>
			<p>Hi there! My name is Tom and I am a full stack web developer currently working as a freelance developer with clients in the South west of the UK.</p> 
			<p><strong>My story</strong></p>
			<p>After studying Music at University I returned home to the west country to work in health and social care as a Senior Support Worker, and specifically I worked with adults with Autism. I loved this job! It meant I could help others to pursue their interests and work alongside them to problem solve on a daily basis with the aim to support great people to live their best lives. Many of my clients loved video games and computing, and one day I stumbled upon a treasure trove of online computing courses that I had great fun introducing to my clients. What I didnt expect was that when I sat down to support my clients complete these courses, I would discover a passion for coding that I never knew was in me! After challenging myself to complete an online bootcamp during my spare time, I quickly became hooked and found a new outlet of creativity that feeds my natural curiosity and my inclination for problem solving. <br>I am currently honing my foundational skills with freelance work, and am also taking exciting steps to expand my learning in additional front and back-end frameworks. Take at look at the projects I have worked on in my portfolio section, and please feel free to get in touch if you like what you see!</p>
			<p><strong>Tom :)</strong></p>
		</div>		
		<div class="image-wrap">
			<img src="/img/umbrellatom.jpg"></div>		
	</div>

<!--Skills  -->
	<h3 id="nav-skills" class="grid-item margin">Skills</h3>
	<div class="grid-item skills">
		<div class="present-box slide-in slide-left a">
			<div>
				<img class="s-img" src="/img/html5icon.png">
				<h5>HTML5</h5>
			</div>	
		</div>

		<div class="present-box slide-in slide-left b">
			<div>
				<img class="s-img" src="/img/cssIcon.png">
				<h5>CSS</h5>
			</div>		
		</div>
			
		<div  class="present-box slide-in slide-left c">
			<div>
				<img class="s-img" src="/img/javascript.png">
				<h5>JAVASCRIPT</h5>
			</div>
		</div>
		
		<div  class="present-box slide-in slide-left d">
			<div>
				<img class="s-img" src="/img/expressjs.jpg">
				<h5>NODE.JS</h5>
			</div>
		</div>

		<div class="present-box slide-in slide-left d">
			<div>
				<img class="s-img " src="/img/mongodb-logo.jpg">
				<h5>MONGODB</h5>
			</div>	
		</div>
		
	</div>

<!--Portfolio Section-->
	<h3 id="nav-portfolio" class="grid-item background-grey">Portfolio</h3>	
	<div class="grid-item portfolio background-grey">

		<div class="present-box slide-in slide-left a">
			<div>
				<a href="https://icot-phelps.herokuapp.com/">
					<img class="p-img" src="/img/icot_screen.png">
					<h5>Indoor Counselling, Outdoor Therapy</h5>
				</a>
			</div>	
		</div>

		<div class="present-box slide-in slide-left b">
			<div>
				<img class="p-img" src="https://via.placeholder.com/482x300">
				<h5>No mans Son</h5>
			</div>
		</div>

		<div class="present-box slide-in slide-left c">
			<div>
				<img class="p-img" src="https://image.shutterstock.com/image-vector/under-construction-coming-soon-sign-600w-229068739.jpg">
				<h5>My playground</h5>
			</div>
		</div>

		<div class="present-box slide-in slide-left d">
			<div>
				<img class="p-img" src="https://image.shutterstock.com/image-vector/under-construction-coming-soon-sign-600w-229068739.jpg">
				<h5>Placeholder</h5>
			</div>
			
		</div>

		<div class="present-box slide-in slide-left e">
			<div>
				<img class="p-img" src="https://image.shutterstock.com/image-vector/under-construction-coming-soon-sign-600w-229068739.jpg">
				<h5>Placeholder</h5>
			</div>
			
		</div>

		<div class="present-box slide-in slide-left f">
			<div>
				<img class="p-img" src="https://image.shutterstock.com/image-vector/under-construction-coming-soon-sign-600w-229068739.jpg">
				<h5>Placeholder</h5>
			</div>
		</div>		
	</div>
	
	<!--Contact information-->
	
	<div id="nav-contact"class="grid-item about">
		<div class="text-wrap">
			<h3>CONTACT</h3>
			<p>If you like what you see, would like to talk about working with me, or just fancy a chat! Then please don't hesitate to get in touch using the form below, or if you prefer you can reach me at: <strong>thomas.burton.lawl@gmail.com</strong></p>
			<form method="POST" action="/">
				<label for="name" >Your Name*</label> <label>Your Email*</label> 
				<input type="text" name="user_name" id="name" placeholder= "...Your name">
				<input type="text" name="user_email" id="email" placeholder= "...Your email address">
				<label>Your Message</label>
				<br>
				<textarea name="user_message" id="message" type="textarea" placeholder="Write your message here"></textarea>
				<br>
				<button>Submit</button>
			</form>	
		</div>
		<div class="image-wrap">
			<img src="/img/Boracay.png">
		</div>
		
	</div>

</div>
	
</body>
<script type="text/javascript" src="/scripts/index.js"></script>
</html>
