<%- include("partials/header") %>
<%- include("partials/nav") %>
<div class="big-rectangle">
	<div class="big-rectangles"></div>
	<div class="big-rectangles"></div>
	<div class="big-rectangles"></div>
	<div class="big-rectangles"></div>	
</div>
		
<!-- Home -->
<div class="container">
		<div class="grid-item home">
			<div id="title-block">
				<div class="drop-wrapper">
					<div class="droptangle">
						<div class="small-rectangles"></div>
						<div class="small-rectangles"></div>
						<div class="small-rectangles"></div>
						<div class="small-rectangles"></div>
						<div class="small-rectangles"></div>
					</div>
					<div class="droptangle-repeat">
						<div class="small-rectangles"></div>
						<div class="small-rectangles"></div>
						<div class="small-rectangles"></div>
						<div class="small-rectangles"></div>
						<div class="small-rectangles"></div>
					</div>						
					
					<div id="title-card">
						<div class="title-inner">
							<h1 id="T" class="on-load slide-down a">Thomas</h1>
							<h1 id="BL" class="on-load slide-down b">Burton-Lawl</h1>
							<p id="jobRole" class="slide-right title" >Full Stack Web developer</p>
						</div>				
					</div>
				</div>
			</div>			
		</div>
<!--About-->			
	<div id="nav-about" class="grid-item content-box">
		<div class="about-wrap">
			<div class="text-wrap">
				<div>
					<h2>ABOUT</h2>
				<p>Hi there! My name is Tom and I am an aspiring full stack web developer from the south west of the Uk. I love coding, space documantaries, Dungeons and Dragons, and climbing. If you'd like to know more about my story you can read it below, or skip straight to my portfolio and get in touch if you'd like to work with me!</p> 
				<div id="myStory" class="expandableDiv">
					<div>
						<p><strong>My story</strong></p>
						<p>After studying Music at University I returned home to the west country to work in health and social care as a senior support worker, and specifically I worked with adults with Autism. I loved this job! It meant I could help others to pursue their interests and work alongside them to problem solve on a daily basis with the aim to support great people to live their best lives. Many of my clients loved video games and computing, and one day I stumbled upon a treasure trove of online computing courses that I had great fun introducing to my clients. What I didnt expect was that when I sat down to support my clients complete these courses, I would discover a passion for coding that I never knew was in me!</p>
						<p>After challenging myself to complete an online bootcamp during my spare time, I quickly became hooked and found a new outlet of creativity that feeds my natural curiosity and my inclination for problem solving. <br>I am currently honing my foundational skills with freelance work, and am also taking exciting steps to expand my learning in additional front and back-end frameworks. Take at look at the projects I have worked on in my portfolio section, and please feel free to get in touch if you like what you see!</p>
						<p><strong>Tom :)</strong></p>
					</div>
					
				</div>
				<button class="expandButton">Read More</button>
				
				<div id="mediaIcons">
					<a href="https://www.linkedin.com/in/thomas-burton-lawl-39560a1a1/"><img class ="mIcon" src="/img/LI-In-Bug.png"></a>
					<a href="https://www.freecodecamp.org/nartuom"><img class="mIcon" src="/img/fcc_secondary_small.png"></a>
					<a href="https://github.com/Nartuom"><img class="mIcon" src="/img/Octocat.jpg"></a>
					<a href="https://codepen.io/Nartuom"><img class="mIcon" src="/img/Codepen-Black-Large.png"></a>
	
				</div>

				</div>
				
			</div>		
			<div class="image-wrap">
				<img class="image koreaTom" src="/img/umbrellatom.jpg">
			</div>	
		</div>
	</div>

<!--Skills  -->
	<h2  class="grid-item margin">Skills</h2>
	<div class="grid-item skills">
		<div class="skill-container slide-in slide-left a">
			<h4>Technologies</h4>
			<div class="skill-box">
				<ul>
					<li>
						<!-- <img class="s-img" src="/img/html5icon.png"> -->
						<h5>HTML5</h5>			
					</li>
					<li>
						<!-- <img class="s-img" src="/img/CSS.3.svg.png"> -->
						<h5>CSS</h5>
					</li>
					<li>
						<!-- <img class="s-img" src="/img/javascript.png"> -->
						<h5>Javascript</h5>
					</li>
					<li>
						<!-- <img class="s-img node" src="/img/node-js.png"> -->
						<h5>Node.JS</h5>
					</li>
					<li>
						<!-- <img class="s-img mongo " src="/img/MongoDB_Logo.png"> -->
						<h5>MongoDB</h5>
					</li>
				</ul>
			</div>			
		</div>
		<div class="skill-container slide-in slide-right a">
			<h4>Frameworks & Tools</h4>
			<div class="skill-box">
				<ul>
					<li>
						<!-- <!-- <img class="s-img" src="/img/express.png"> -->
						<h5>Express.js</h5>
					</li>
					<li>
						<!-- <img class="s-img" src="/img/mongoose.png"> -->
						<h5>Mongoose.js</h5>
					</li>
					<li>
						<!-- <img class="s-img" src="/img/GitHub_Logo.png"> -->
						<h5>Git & Github</h5>
					</li>
					<li>
						<!-- <img class="s-img" src="/img/bootstrap-solid.svg"> -->
						<h5>Bootstrap 4</h5>
					</li>	
				</ul>
			</div>	
		</div>		
	</div>

<!--Portfolio Section-->
	<h2 id="nav-portfolio" class="grid-item background-grey">Portfolio</h2>	
	<div class="grid-item portfolio background-grey">

		<div class="projects-box slide-in slide-left a">
			<div>
				<a href="https://www.melaniephelps.co.uk">
					<img class="p-img" src="/img/icot_screen.png">
					Indoor Counselling, Outdoor Therapy
				</a>
			</div>	
		</div>

		<div class="projects-box slide-in slide-left b">
			<div>
				<img class="p-img" src="https://image.shutterstock.com/image-vector/under-construction-coming-soon-sign-600w-229068739.jpg">
				<h5>No mans Son</h5>
			</div>
		</div>

		<div class="projects-box slide-in slide-left c">
			<div>
				<img class="p-img" src="https://image.shutterstock.com/image-vector/under-construction-coming-soon-sign-600w-229068739.jpg">
				<h5>My playground</h5>
			</div>
		</div>
		
	</div>
	
	<!--Contact information-->
	
	<div id="nav-contact"class="grid-item content-box">
		<div class="text-wrap">
			<div>
				<h2>CONTACT</h2>
				<p>If you like what you see, would like to talk about working with me, or just fancy a chat! Then please don't hesitate to get in touch using the form below, or if you prefer you can reach me at: <strong>thomas.burton.lawl@gmail.com</strong></p>
				<form method="POST" action="/">
					<label for="name" >Your Name*</label> <label>Your Email*</label> 
					<input type="text" name="user_name" id="name" placeholder= "...Your name" required>
					<input type="text" name="user_email" id="email" placeholder= "...Your email address" required>
					<label>Your Message</label>
					<br>
					<textarea name="user_message" id="message" type="textarea" placeholder="Write your message here" required></textarea>
					<br>
					<button>Submit</button>
				</form>	

			</div>
			
		</div>
		<div class="image-wrap">
			<img src="/img/Boracay.png">
		</div>
		
	</div>

	<footer class="grid-item-footer">Copyright © 2020 Thomas Burton-Lawl</footer>

</div>
	
</body>
<script type="text/javascript" src="/scripts/index.js"></script>
</html>
