	<%- include("partials/header") %>
	<%- include("partials/nav") %>
	<div class="big-rectangle">
		<div class="big-rectangles"></div>
		<div class="big-rectangles"></div>
		<div class="big-rectangles"></div>
		<div class="big-rectangles"></div>	
	</div>
			
	<!-- Home -->
	<div class="container">
			<div class="grid-item home">
				<div id="title-block">
					<div class="drop-wrapper">
						<div class="droptangle">
							<div class="small-rectangles"></div>
							<div class="small-rectangles"></div>
							<div class="small-rectangles"></div>
							<div class="small-rectangles"></div>
							<div class="small-rectangles"></div>
						</div>
						<div class="droptangle-repeat">
							<div class="small-rectangles"></div>
							<div class="small-rectangles"></div>
							<div class="small-rectangles"></div>
							<div class="small-rectangles"></div>
							<div class="small-rectangles"></div>
						</div>						
						
						<div id="title-card">
							<div class="title-inner">
								<svg id="titleName" width="100%" height="60%" viewBox="0 0 700 311" fill="none" xmlns="http://www.w3.org/2000/svg">
									<mask id="path-1-outside-1" maskUnits="userSpaceOnUse" x="0.379486" y="0.549988" width="699" height="310" fill="transparent">
									<rect fill="white" x="0.379486" y="0.549988" width="699" height="310"/>
									<path d="M156.981 117C155.681 117 154.531 116.7 153.531 116.1C152.531 115.4 152.031 114.45 152.031 113.25V16.65H126.831C125.631 16.65 124.681 16.2 123.981 15.3C123.381 14.3 123.081 13.2 123.081 12C123.081 10.8 123.381 9.74999 123.981 8.84999C124.581 7.84999 125.531 7.34999 126.831 7.34999H186.981C188.281 7.34999 189.231 7.84999 189.831 8.84999C190.431 9.74999 190.731 10.75 190.731 11.85C190.731 13.05 190.431 14.15 189.831 15.15C189.231 16.15 188.281 16.65 186.981 16.65H161.931V113.25C161.931 114.45 161.381 115.4 160.281 116.1C159.281 116.7 158.181 117 156.981 117Z"/>
									<path d="M206.865 117C205.465 117 204.315 116.6 203.415 115.8C202.515 115 202.065 114.15 202.065 113.25V6.14999C202.065 5.14999 202.515 4.29999 203.415 3.59998C204.315 2.89999 205.465 2.54999 206.865 2.54999C208.265 2.54999 209.415 2.89999 210.315 3.59998C211.315 4.29999 211.815 5.14999 211.815 6.14999V56.55C213.415 53.65 215.865 51.05 219.165 48.75C222.465 46.35 226.615 45.15 231.615 45.15C236.415 45.15 240.815 46.45 244.815 49.05C248.915 51.55 252.165 54.95 254.565 59.25C256.965 63.45 258.165 68.1 258.165 73.2V113.25C258.165 114.45 257.665 115.4 256.665 116.1C255.665 116.7 254.515 117 253.215 117C252.115 117 251.015 116.7 249.915 116.1C248.915 115.4 248.415 114.45 248.415 113.25V73.2C248.415 70 247.565 66.95 245.865 64.05C244.165 61.15 241.915 58.8 239.115 57C236.315 55.1 233.215 54.15 229.815 54.15C226.815 54.15 223.915 54.9 221.115 56.4C218.415 57.9 216.165 60.1 214.365 63C212.665 65.8 211.815 69.2 211.815 73.2V113.25C211.815 114.15 211.315 115 210.315 115.8C209.415 116.6 208.265 117 206.865 117Z"/>
									<path d="M301.983 118.05C296.883 118.05 292.183 116.75 287.883 114.15C283.583 111.45 280.083 107.95 277.383 103.65C274.783 99.25 273.483 94.55 273.483 89.55V73.2C273.483 68.2 274.783 63.6 277.383 59.4C279.983 55.1 283.433 51.65 287.733 49.05C292.033 46.45 296.783 45.15 301.983 45.15C307.083 45.15 311.783 46.45 316.083 49.05C320.383 51.55 323.833 54.95 326.433 59.25C329.133 63.45 330.483 68.1 330.483 73.2V89.55C330.483 94.55 329.133 99.25 326.433 103.65C323.833 107.95 320.383 111.45 316.083 114.15C311.783 116.75 307.083 118.05 301.983 118.05ZM301.983 109.05C305.383 109.05 308.483 108.15 311.283 106.35C314.183 104.45 316.483 102.05 318.183 99.15C319.883 96.15 320.733 92.95 320.733 89.55V73.2C320.733 70 319.883 66.95 318.183 64.05C316.583 61.15 314.333 58.8 311.433 57C308.633 55.1 305.483 54.15 301.983 54.15C298.483 54.15 295.283 55.1 292.383 57C289.583 58.8 287.333 61.15 285.633 64.05C284.033 66.95 283.233 70 283.233 73.2V89.55C283.233 92.95 284.083 96.15 285.783 99.15C287.483 102.05 289.733 104.45 292.533 106.35C295.333 108.15 298.483 109.05 301.983 109.05Z"/>
									<path d="M351.295 117C349.895 117 348.745 116.6 347.845 115.8C346.945 115 346.495 114.15 346.495 113.25V49.65C346.495 48.65 346.945 47.8 347.845 47.1C348.745 46.4 349.895 46.05 351.295 46.05C352.595 46.05 353.695 46.4 354.595 47.1C355.495 47.8 355.945 48.65 355.945 49.65V56.55C357.545 53.65 359.995 51.05 363.295 48.75C366.695 46.35 370.895 45.15 375.895 45.15C380.795 45.15 385.095 46.55 388.795 49.35C392.595 52.15 395.395 55.75 397.195 60.15C399.895 55.05 403.245 51.3 407.245 48.9C411.345 46.4 415.595 45.15 419.995 45.15C424.295 45.15 428.345 46.25 432.145 48.45C436.045 50.65 439.195 53.85 441.595 58.05C443.995 62.25 445.195 67.3 445.195 73.2V113.25C445.195 114.15 444.695 115 443.695 115.8C442.795 116.6 441.645 117 440.245 117C439.045 117 437.945 116.6 436.945 115.8C435.945 115 435.445 114.15 435.445 113.25V73.2C435.445 69 434.595 65.5 432.895 62.7C431.195 59.8 429.045 57.65 426.445 56.25C423.845 54.85 421.145 54.15 418.345 54.15C415.445 54.15 412.645 54.9 409.945 56.4C407.245 57.9 405.045 60.05 403.345 62.85C401.645 65.55 400.795 68.8 400.795 72.6V113.4C400.795 114.6 400.245 115.5 399.145 116.1C398.145 116.7 397.045 117 395.845 117C394.745 117 393.645 116.7 392.545 116.1C391.545 115.5 391.045 114.6 391.045 113.4V72.75C391.045 67.35 389.345 62.9 385.945 59.4C382.545 55.9 378.545 54.15 373.945 54.15C371.045 54.15 368.245 54.9 365.545 56.4C362.845 57.9 360.595 60.1 358.795 63C357.095 65.8 356.245 69.2 356.245 73.2V113.25C356.245 114.15 355.745 115 354.745 115.8C353.845 116.6 352.695 117 351.295 117Z"/>
									<path d="M479.14 118.05C473.44 118.05 468.59 116.45 464.59 113.25C460.69 109.95 458.74 104.95 458.74 98.25C458.74 92.75 460.19 88.55 463.09 85.65C466.09 82.65 470.19 80.6 475.39 79.5C480.69 78.3 486.79 77.7 493.69 77.7H501.34V74.1C501.34 70.9 500.74 67.75 499.54 64.65C498.44 61.45 496.59 58.85 493.99 56.85C491.39 54.75 487.94 53.7 483.64 53.7C480.34 53.7 477.64 54.1 475.54 54.9C473.44 55.6 471.79 56.3 470.59 57C469.39 57.7 468.39 58.05 467.59 58.05C466.29 58.05 465.29 57.45 464.59 56.25C463.99 55.05 463.69 53.9 463.69 52.8C463.69 51.5 464.69 50.3 466.69 49.2C468.79 48 471.39 47.05 474.49 46.35C477.59 45.55 480.74 45.15 483.94 45.15C490.64 45.15 495.94 46.55 499.84 49.35C503.84 52.05 506.69 55.6 508.39 60C510.19 64.4 511.09 69.1 511.09 74.1V113.25C511.09 114.25 510.64 115.15 509.74 115.95C508.84 116.65 507.69 117 506.29 117C504.99 117 503.89 116.65 502.99 115.95C502.19 115.15 501.79 114.25 501.79 113.25V106.5C499.19 109.5 495.99 112.2 492.19 114.6C488.49 116.9 484.14 118.05 479.14 118.05ZM481.54 109.95C484.74 109.95 487.84 109.1 490.84 107.4C493.94 105.7 496.44 103.6 498.34 101.1C500.34 98.6 501.34 96.25 501.34 94.05V84.45H495.04C490.44 84.45 486.09 84.75 481.99 85.35C477.99 85.85 474.74 87.05 472.24 88.95C469.74 90.75 468.49 93.55 468.49 97.35C468.49 101.65 469.74 104.85 472.24 106.95C474.74 108.95 477.84 109.95 481.54 109.95Z"/>
									<path d="M548.511 118.05C543.811 118.05 539.661 117.5 536.061 116.4C532.561 115.2 529.811 113.75 527.811 112.05C525.911 110.35 524.961 108.75 524.961 107.25C524.961 106.35 525.261 105.4 525.861 104.4C526.561 103.4 527.411 102.9 528.411 102.9C529.511 102.9 530.711 103.5 532.011 104.7C533.311 105.8 535.211 106.95 537.711 108.15C540.211 109.25 543.711 109.8 548.211 109.8C553.911 109.8 557.911 108.75 560.211 106.65C562.511 104.45 563.661 101.95 563.661 99.15C563.661 95.85 562.761 93.3 560.961 91.5C559.161 89.6 556.861 88.15 554.061 87.15C551.261 86.05 548.261 85.1 545.061 84.3C541.961 83.4 538.961 82.3 536.061 81C533.261 79.6 530.961 77.7 529.161 75.3C527.461 72.9 526.611 69.65 526.611 65.55C526.611 62.35 527.361 59.2 528.861 56.1C530.461 53 533.011 50.4 536.511 48.3C540.011 46.2 544.611 45.15 550.311 45.15C553.611 45.15 556.761 45.5 559.761 46.2C562.861 46.9 565.411 47.85 567.411 49.05C569.411 50.15 570.411 51.3 570.411 52.5C570.411 53.3 570.011 54.35 569.211 55.65C568.511 56.95 567.561 57.6 566.361 57.6C565.561 57.6 564.461 57.25 563.061 56.55C561.761 55.85 560.061 55.15 557.961 54.45C555.861 53.75 553.361 53.4 550.461 53.4C546.761 53.4 543.811 54.05 541.611 55.35C539.411 56.65 537.811 58.2 536.811 60C535.911 61.8 535.461 63.5 535.461 65.1C535.461 68 536.361 70.25 538.161 71.85C539.961 73.35 542.261 74.55 545.061 75.45C547.961 76.35 550.961 77.25 554.061 78.15C557.261 78.95 560.261 80.1 563.061 81.6C565.861 83.1 568.161 85.2 569.961 87.9C571.761 90.6 572.661 94.2 572.661 98.7C572.661 104.7 570.561 109.45 566.361 112.95C562.161 116.35 556.211 118.05 548.511 118.05Z"/>
									<path d="M6.87949 307C5.47949 307 4.3795 306.65 3.5795 305.95C2.7795 305.15 2.37949 304.3 2.37949 303.4V201.1C2.37949 199.9 2.82949 199 3.72949 198.4C4.72949 197.7 5.77949 197.35 6.87949 197.35H31.4795C37.0795 197.35 42.1795 198 46.7795 199.3C51.4795 200.6 55.1795 203.1 57.8795 206.8C60.6795 210.4 62.0795 215.75 62.0795 222.85C62.0795 229.15 60.8795 234.45 58.4795 238.75C56.1795 242.95 53.1295 245.9 49.3295 247.6C53.9295 249.5 57.6295 252.35 60.4295 256.15C63.3295 259.95 64.7795 265.7 64.7795 273.4V276.1C64.7795 283.7 63.4295 289.75 60.7295 294.25C58.1295 298.75 54.5795 302 50.0795 304C45.6795 306 40.7295 307 35.2295 307H6.87949ZM12.1295 297.85H33.8795C40.3795 297.85 45.4795 296.1 49.1795 292.6C52.9795 289 54.8795 283.35 54.8795 275.65V273.1C54.8795 265.3 52.9795 259.8 49.1795 256.6C45.4795 253.4 40.3795 251.8 33.8795 251.8H12.1295V297.85ZM12.1295 243.25H31.7795C38.6795 243.25 43.7795 241.8 47.0795 238.9C50.4795 236 52.1795 231 52.1795 223.9C52.1795 219.3 51.2795 215.75 49.4795 213.25C47.6795 210.75 45.1795 209 41.9795 208C38.8795 207 35.2795 206.5 31.1795 206.5H12.1295V243.25Z"/>
									<path d="M109.042 308.05C103.742 308.05 98.9424 306.75 94.6424 304.15C90.3424 301.45 86.8924 298 84.2924 293.8C81.6924 289.5 80.3924 284.85 80.3924 279.85V239.8C80.3924 238.9 80.8424 238.05 81.7424 237.25C82.7424 236.45 83.9424 236.05 85.3424 236.05C86.6424 236.05 87.7424 236.45 88.6424 237.25C89.6424 238.05 90.1424 238.9 90.1424 239.8V279.85C90.1424 283.15 90.9924 286.25 92.6924 289.15C94.3924 292.05 96.6424 294.45 99.4424 296.35C102.342 298.15 105.542 299.05 109.042 299.05C112.442 299.05 115.542 298.15 118.342 296.35C121.242 294.55 123.492 292.2 125.092 289.3C126.792 286.3 127.642 283.15 127.642 279.85V239.65C127.642 238.75 128.142 237.95 129.142 237.25C130.142 236.45 131.292 236.05 132.592 236.05C133.992 236.05 135.142 236.45 136.042 237.25C136.942 237.95 137.392 238.75 137.392 239.65V279.85C137.392 284.85 136.092 289.5 133.492 293.8C130.892 298.1 127.442 301.55 123.142 304.15C118.842 306.75 114.142 308.05 109.042 308.05Z"/>
									<path d="M160.206 307C158.806 307 157.656 306.6 156.756 305.8C155.856 305 155.406 304.15 155.406 303.25V239.65C155.406 238.65 155.856 237.8 156.756 237.1C157.656 236.4 158.806 236.05 160.206 236.05C161.506 236.05 162.606 236.4 163.506 237.1C164.406 237.8 164.856 238.65 164.856 239.65V247C166.456 244 168.956 241.3 172.356 238.9C175.856 236.4 180.056 235.15 184.956 235.15H190.206C191.206 235.15 192.106 235.6 192.906 236.5C193.706 237.4 194.106 238.45 194.106 239.65C194.106 240.85 193.706 241.9 192.906 242.8C192.106 243.7 191.206 244.15 190.206 244.15H184.956C181.656 244.15 178.456 245.05 175.356 246.85C172.356 248.55 169.906 251.05 168.006 254.35C166.106 257.55 165.156 261.45 165.156 266.05V303.25C165.156 304.15 164.656 305 163.656 305.8C162.756 306.6 161.606 307 160.206 307Z"/>
									<path d="M228.468 307C220.768 307 214.868 305.25 210.768 301.75C206.668 298.25 204.618 292.65 204.618 284.95V205.9C204.618 204.9 205.118 204.05 206.118 203.35C207.218 202.65 208.318 202.3 209.418 202.3C210.718 202.3 211.868 202.65 212.868 203.35C213.868 204.05 214.368 204.9 214.368 205.9V236.05H233.868C234.868 236.05 235.668 236.5 236.268 237.4C236.868 238.2 237.168 239.1 237.168 240.1C237.168 241.2 236.868 242.15 236.268 242.95C235.668 243.75 234.868 244.15 233.868 244.15H214.368V284.95C214.368 289.85 215.418 293.3 217.518 295.3C219.618 297.2 223.268 298.15 228.468 298.15H232.668C233.968 298.15 235.018 298.6 235.818 299.5C236.618 300.4 237.018 301.4 237.018 302.5C237.018 303.7 236.618 304.75 235.818 305.65C235.018 306.55 233.968 307 232.668 307H228.468Z"/>
									<path d="M273.492 308.05C268.392 308.05 263.692 306.75 259.392 304.15C255.092 301.45 251.592 297.95 248.892 293.65C246.292 289.25 244.992 284.55 244.992 279.55V263.2C244.992 258.2 246.292 253.6 248.892 249.4C251.492 245.1 254.942 241.65 259.242 239.05C263.542 236.45 268.292 235.15 273.492 235.15C278.592 235.15 283.292 236.45 287.592 239.05C291.892 241.55 295.342 244.95 297.942 249.25C300.642 253.45 301.992 258.1 301.992 263.2V279.55C301.992 284.55 300.642 289.25 297.942 293.65C295.342 297.95 291.892 301.45 287.592 304.15C283.292 306.75 278.592 308.05 273.492 308.05ZM273.492 299.05C276.892 299.05 279.992 298.15 282.792 296.35C285.692 294.45 287.992 292.05 289.692 289.15C291.392 286.15 292.242 282.95 292.242 279.55V263.2C292.242 260 291.392 256.95 289.692 254.05C288.092 251.15 285.842 248.8 282.942 247C280.142 245.1 276.992 244.15 273.492 244.15C269.992 244.15 266.792 245.1 263.892 247C261.092 248.8 258.842 251.15 257.142 254.05C255.542 256.95 254.742 260 254.742 263.2V279.55C254.742 282.95 255.592 286.15 257.292 289.15C258.992 292.05 261.242 294.45 264.042 296.35C266.842 298.15 269.992 299.05 273.492 299.05Z"/>
									<path d="M322.804 307C321.404 307 320.254 306.6 319.354 305.8C318.454 305 318.004 304.15 318.004 303.25V239.65C318.004 238.65 318.454 237.8 319.354 237.1C320.254 236.4 321.404 236.05 322.804 236.05C324.104 236.05 325.204 236.4 326.104 237.1C327.004 237.8 327.454 238.65 327.454 239.65V246.55C329.054 243.65 331.554 241.05 334.954 238.75C338.354 236.35 342.554 235.15 347.554 235.15C352.354 235.15 356.754 236.45 360.754 239.05C364.854 241.55 368.104 244.95 370.504 249.25C372.904 253.45 374.104 258.1 374.104 263.2V303.25C374.104 304.45 373.604 305.4 372.604 306.1C371.604 306.7 370.454 307 369.154 307C368.054 307 366.954 306.7 365.854 306.1C364.854 305.4 364.354 304.45 364.354 303.25V263.2C364.354 260 363.504 256.95 361.804 254.05C360.204 251.15 357.954 248.8 355.054 247C352.254 245.1 349.154 244.15 345.754 244.15C342.754 244.15 339.854 244.9 337.054 246.4C334.354 247.9 332.104 250.1 330.304 253C328.604 255.8 327.754 259.2 327.754 263.2V303.25C327.754 304.15 327.254 305 326.254 305.8C325.354 306.6 324.204 307 322.804 307Z"/>
									<path d="M393.325 275.2C392.225 275.2 391.325 274.85 390.625 274.15C389.925 273.35 389.575 272.3 389.575 271C389.575 269.8 389.925 268.75 390.625 267.85C391.325 266.95 392.225 266.5 393.325 266.5H432.325C433.225 266.5 434.075 266.95 434.875 267.85C435.675 268.75 436.075 269.8 436.075 271C436.075 272.3 435.675 273.35 434.875 274.15C434.075 274.85 433.225 275.2 432.325 275.2H393.325Z"/>
									<path d="M458.784 307C457.684 307 456.634 306.7 455.634 306.1C454.734 305.4 454.284 304.45 454.284 303.25V200.95C454.284 199.75 454.784 198.85 455.784 198.25C456.784 197.65 457.934 197.35 459.234 197.35C460.434 197.35 461.534 197.65 462.534 198.25C463.634 198.85 464.184 199.75 464.184 200.95V297.85H506.934C508.034 297.85 508.834 298.35 509.334 299.35C509.934 300.25 510.234 301.3 510.234 302.5C510.234 303.6 509.934 304.65 509.334 305.65C508.834 306.55 508.034 307 506.934 307H458.784Z"/>
									<path d="M537.221 308.05C531.521 308.05 526.671 306.45 522.671 303.25C518.771 299.95 516.821 294.95 516.821 288.25C516.821 282.75 518.271 278.55 521.171 275.65C524.171 272.65 528.271 270.6 533.471 269.5C538.771 268.3 544.871 267.7 551.771 267.7H559.421V264.1C559.421 260.9 558.821 257.75 557.621 254.65C556.521 251.45 554.671 248.85 552.071 246.85C549.471 244.75 546.021 243.7 541.721 243.7C538.421 243.7 535.721 244.1 533.621 244.9C531.521 245.6 529.871 246.3 528.671 247C527.471 247.7 526.471 248.05 525.671 248.05C524.371 248.05 523.371 247.45 522.671 246.25C522.071 245.05 521.771 243.9 521.771 242.8C521.771 241.5 522.771 240.3 524.771 239.2C526.871 238 529.471 237.05 532.571 236.35C535.671 235.55 538.821 235.15 542.021 235.15C548.721 235.15 554.021 236.55 557.921 239.35C561.921 242.05 564.771 245.6 566.471 250C568.271 254.4 569.171 259.1 569.171 264.1V303.25C569.171 304.25 568.721 305.15 567.821 305.95C566.921 306.65 565.771 307 564.371 307C563.071 307 561.971 306.65 561.071 305.95C560.271 305.15 559.871 304.25 559.871 303.25V296.5C557.271 299.5 554.071 302.2 550.271 304.6C546.571 306.9 542.221 308.05 537.221 308.05ZM539.621 299.95C542.821 299.95 545.921 299.1 548.921 297.4C552.021 295.7 554.521 293.6 556.421 291.1C558.421 288.6 559.421 286.25 559.421 284.05V274.45H553.121C548.521 274.45 544.171 274.75 540.071 275.35C536.071 275.85 532.821 277.05 530.321 278.95C527.821 280.75 526.571 283.55 526.571 287.35C526.571 291.65 527.821 294.85 530.321 296.95C532.821 298.95 535.921 299.95 539.621 299.95Z"/>
									<path d="M607.363 308.2C606.363 308.2 605.513 308 604.813 307.6C604.213 307.2 603.713 306.4 603.313 305.2L579.913 242.35C579.813 242.05 579.663 241.7 579.463 241.3C579.363 240.8 579.313 240.4 579.313 240.1C579.313 238.9 579.964 237.9 581.264 237.1C582.564 236.2 583.863 235.75 585.163 235.75C586.963 235.75 588.113 236.5 588.613 238L607.813 291.55L623.264 242.65C623.764 240.95 625.063 240.1 627.163 240.1C629.163 240.1 630.463 240.95 631.063 242.65L645.913 292L665.563 238C665.963 236.5 667.063 235.75 668.863 235.75C670.163 235.75 671.464 236.15 672.764 236.95C674.064 237.75 674.713 238.8 674.713 240.1C674.713 240.5 674.614 240.95 674.414 241.45C674.314 241.85 674.213 242.15 674.113 242.35L650.713 305.8C650.413 306.7 649.863 307.3 649.063 307.6C648.363 308 647.613 308.2 646.813 308.2C644.813 308.2 643.464 307.45 642.764 305.95L627.163 257.2L611.713 305.2C611.013 307.2 609.563 308.2 607.363 308.2Z"/>
									<path d="M692.416 307C691.016 307 689.866 306.6 688.966 305.8C688.066 305 687.616 304.15 687.616 303.25V196.15C687.616 195.15 688.066 194.3 688.966 193.6C689.866 192.9 691.016 192.55 692.416 192.55C693.816 192.55 694.966 192.9 695.866 193.6C696.866 194.3 697.366 195.15 697.366 196.15V303.25C697.366 304.15 696.866 305 695.866 305.8C694.966 306.6 693.816 307 692.416 307Z"/>
									</mask>
									<path d="M156.981 117C155.681 117 154.531 116.7 153.531 116.1C152.531 115.4 152.031 114.45 152.031 113.25V16.65H126.831C125.631 16.65 124.681 16.2 123.981 15.3C123.381 14.3 123.081 13.2 123.081 12C123.081 10.8 123.381 9.74999 123.981 8.84999C124.581 7.84999 125.531 7.34999 126.831 7.34999H186.981C188.281 7.34999 189.231 7.84999 189.831 8.84999C190.431 9.74999 190.731 10.75 190.731 11.85C190.731 13.05 190.431 14.15 189.831 15.15C189.231 16.15 188.281 16.65 186.981 16.65H161.931V113.25C161.931 114.45 161.381 115.4 160.281 116.1C159.281 116.7 158.181 117 156.981 117Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
									<path d="M206.865 117C205.465 117 204.315 116.6 203.415 115.8C202.515 115 202.065 114.15 202.065 113.25V6.14999C202.065 5.14999 202.515 4.29999 203.415 3.59998C204.315 2.89999 205.465 2.54999 206.865 2.54999C208.265 2.54999 209.415 2.89999 210.315 3.59998C211.315 4.29999 211.815 5.14999 211.815 6.14999V56.55C213.415 53.65 215.865 51.05 219.165 48.75C222.465 46.35 226.615 45.15 231.615 45.15C236.415 45.15 240.815 46.45 244.815 49.05C248.915 51.55 252.165 54.95 254.565 59.25C256.965 63.45 258.165 68.1 258.165 73.2V113.25C258.165 114.45 257.665 115.4 256.665 116.1C255.665 116.7 254.515 117 253.215 117C252.115 117 251.015 116.7 249.915 116.1C248.915 115.4 248.415 114.45 248.415 113.25V73.2C248.415 70 247.565 66.95 245.865 64.05C244.165 61.15 241.915 58.8 239.115 57C236.315 55.1 233.215 54.15 229.815 54.15C226.815 54.15 223.915 54.9 221.115 56.4C218.415 57.9 216.165 60.1 214.365 63C212.665 65.8 211.815 69.2 211.815 73.2V113.25C211.815 114.15 211.315 115 210.315 115.8C209.415 116.6 208.265 117 206.865 117Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
									<path d="M301.983 118.05C296.883 118.05 292.183 116.75 287.883 114.15C283.583 111.45 280.083 107.95 277.383 103.65C274.783 99.25 273.483 94.55 273.483 89.55V73.2C273.483 68.2 274.783 63.6 277.383 59.4C279.983 55.1 283.433 51.65 287.733 49.05C292.033 46.45 296.783 45.15 301.983 45.15C307.083 45.15 311.783 46.45 316.083 49.05C320.383 51.55 323.833 54.95 326.433 59.25C329.133 63.45 330.483 68.1 330.483 73.2V89.55C330.483 94.55 329.133 99.25 326.433 103.65C323.833 107.95 320.383 111.45 316.083 114.15C311.783 116.75 307.083 118.05 301.983 118.05ZM301.983 109.05C305.383 109.05 308.483 108.15 311.283 106.35C314.183 104.45 316.483 102.05 318.183 99.15C319.883 96.15 320.733 92.95 320.733 89.55V73.2C320.733 70 319.883 66.95 318.183 64.05C316.583 61.15 314.333 58.8 311.433 57C308.633 55.1 305.483 54.15 301.983 54.15C298.483 54.15 295.283 55.1 292.383 57C289.583 58.8 287.333 61.15 285.633 64.05C284.033 66.95 283.233 70 283.233 73.2V89.55C283.233 92.95 284.083 96.15 285.783 99.15C287.483 102.05 289.733 104.45 292.533 106.35C295.333 108.15 298.483 109.05 301.983 109.05Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
									<path d="M351.295 117C349.895 117 348.745 116.6 347.845 115.8C346.945 115 346.495 114.15 346.495 113.25V49.65C346.495 48.65 346.945 47.8 347.845 47.1C348.745 46.4 349.895 46.05 351.295 46.05C352.595 46.05 353.695 46.4 354.595 47.1C355.495 47.8 355.945 48.65 355.945 49.65V56.55C357.545 53.65 359.995 51.05 363.295 48.75C366.695 46.35 370.895 45.15 375.895 45.15C380.795 45.15 385.095 46.55 388.795 49.35C392.595 52.15 395.395 55.75 397.195 60.15C399.895 55.05 403.245 51.3 407.245 48.9C411.345 46.4 415.595 45.15 419.995 45.15C424.295 45.15 428.345 46.25 432.145 48.45C436.045 50.65 439.195 53.85 441.595 58.05C443.995 62.25 445.195 67.3 445.195 73.2V113.25C445.195 114.15 444.695 115 443.695 115.8C442.795 116.6 441.645 117 440.245 117C439.045 117 437.945 116.6 436.945 115.8C435.945 115 435.445 114.15 435.445 113.25V73.2C435.445 69 434.595 65.5 432.895 62.7C431.195 59.8 429.045 57.65 426.445 56.25C423.845 54.85 421.145 54.15 418.345 54.15C415.445 54.15 412.645 54.9 409.945 56.4C407.245 57.9 405.045 60.05 403.345 62.85C401.645 65.55 400.795 68.8 400.795 72.6V113.4C400.795 114.6 400.245 115.5 399.145 116.1C398.145 116.7 397.045 117 395.845 117C394.745 117 393.645 116.7 392.545 116.1C391.545 115.5 391.045 114.6 391.045 113.4V72.75C391.045 67.35 389.345 62.9 385.945 59.4C382.545 55.9 378.545 54.15 373.945 54.15C371.045 54.15 368.245 54.9 365.545 56.4C362.845 57.9 360.595 60.1 358.795 63C357.095 65.8 356.245 69.2 356.245 73.2V113.25C356.245 114.15 355.745 115 354.745 115.8C353.845 116.6 352.695 117 351.295 117Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
									<path d="M479.14 118.05C473.44 118.05 468.59 116.45 464.59 113.25C460.69 109.95 458.74 104.95 458.74 98.25C458.74 92.75 460.19 88.55 463.09 85.65C466.09 82.65 470.19 80.6 475.39 79.5C480.69 78.3 486.79 77.7 493.69 77.7H501.34V74.1C501.34 70.9 500.74 67.75 499.54 64.65C498.44 61.45 496.59 58.85 493.99 56.85C491.39 54.75 487.94 53.7 483.64 53.7C480.34 53.7 477.64 54.1 475.54 54.9C473.44 55.6 471.79 56.3 470.59 57C469.39 57.7 468.39 58.05 467.59 58.05C466.29 58.05 465.29 57.45 464.59 56.25C463.99 55.05 463.69 53.9 463.69 52.8C463.69 51.5 464.69 50.3 466.69 49.2C468.79 48 471.39 47.05 474.49 46.35C477.59 45.55 480.74 45.15 483.94 45.15C490.64 45.15 495.94 46.55 499.84 49.35C503.84 52.05 506.69 55.6 508.39 60C510.19 64.4 511.09 69.1 511.09 74.1V113.25C511.09 114.25 510.64 115.15 509.74 115.95C508.84 116.65 507.69 117 506.29 117C504.99 117 503.89 116.65 502.99 115.95C502.19 115.15 501.79 114.25 501.79 113.25V106.5C499.19 109.5 495.99 112.2 492.19 114.6C488.49 116.9 484.14 118.05 479.14 118.05ZM481.54 109.95C484.74 109.95 487.84 109.1 490.84 107.4C493.94 105.7 496.44 103.6 498.34 101.1C500.34 98.6 501.34 96.25 501.34 94.05V84.45H495.04C490.44 84.45 486.09 84.75 481.99 85.35C477.99 85.85 474.74 87.05 472.24 88.95C469.74 90.75 468.49 93.55 468.49 97.35C468.49 101.65 469.74 104.85 472.24 106.95C474.74 108.95 477.84 109.95 481.54 109.95Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
									<path d="M548.511 118.05C543.811 118.05 539.661 117.5 536.061 116.4C532.561 115.2 529.811 113.75 527.811 112.05C525.911 110.35 524.961 108.75 524.961 107.25C524.961 106.35 525.261 105.4 525.861 104.4C526.561 103.4 527.411 102.9 528.411 102.9C529.511 102.9 530.711 103.5 532.011 104.7C533.311 105.8 535.211 106.95 537.711 108.15C540.211 109.25 543.711 109.8 548.211 109.8C553.911 109.8 557.911 108.75 560.211 106.65C562.511 104.45 563.661 101.95 563.661 99.15C563.661 95.85 562.761 93.3 560.961 91.5C559.161 89.6 556.861 88.15 554.061 87.15C551.261 86.05 548.261 85.1 545.061 84.3C541.961 83.4 538.961 82.3 536.061 81C533.261 79.6 530.961 77.7 529.161 75.3C527.461 72.9 526.611 69.65 526.611 65.55C526.611 62.35 527.361 59.2 528.861 56.1C530.461 53 533.011 50.4 536.511 48.3C540.011 46.2 544.611 45.15 550.311 45.15C553.611 45.15 556.761 45.5 559.761 46.2C562.861 46.9 565.411 47.85 567.411 49.05C569.411 50.15 570.411 51.3 570.411 52.5C570.411 53.3 570.011 54.35 569.211 55.65C568.511 56.95 567.561 57.6 566.361 57.6C565.561 57.6 564.461 57.25 563.061 56.55C561.761 55.85 560.061 55.15 557.961 54.45C555.861 53.75 553.361 53.4 550.461 53.4C546.761 53.4 543.811 54.05 541.611 55.35C539.411 56.65 537.811 58.2 536.811 60C535.911 61.8 535.461 63.5 535.461 65.1C535.461 68 536.361 70.25 538.161 71.85C539.961 73.35 542.261 74.55 545.061 75.45C547.961 76.35 550.961 77.25 554.061 78.15C557.261 78.95 560.261 80.1 563.061 81.6C565.861 83.1 568.161 85.2 569.961 87.9C571.761 90.6 572.661 94.2 572.661 98.7C572.661 104.7 570.561 109.45 566.361 112.95C562.161 116.35 556.211 118.05 548.511 118.05Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
									<path d="M6.87949 307C5.47949 307 4.3795 306.65 3.5795 305.95C2.7795 305.15 2.37949 304.3 2.37949 303.4V201.1C2.37949 199.9 2.82949 199 3.72949 198.4C4.72949 197.7 5.77949 197.35 6.87949 197.35H31.4795C37.0795 197.35 42.1795 198 46.7795 199.3C51.4795 200.6 55.1795 203.1 57.8795 206.8C60.6795 210.4 62.0795 215.75 62.0795 222.85C62.0795 229.15 60.8795 234.45 58.4795 238.75C56.1795 242.95 53.1295 245.9 49.3295 247.6C53.9295 249.5 57.6295 252.35 60.4295 256.15C63.3295 259.95 64.7795 265.7 64.7795 273.4V276.1C64.7795 283.7 63.4295 289.75 60.7295 294.25C58.1295 298.75 54.5795 302 50.0795 304C45.6795 306 40.7295 307 35.2295 307H6.87949ZM12.1295 297.85H33.8795C40.3795 297.85 45.4795 296.1 49.1795 292.6C52.9795 289 54.8795 283.35 54.8795 275.65V273.1C54.8795 265.3 52.9795 259.8 49.1795 256.6C45.4795 253.4 40.3795 251.8 33.8795 251.8H12.1295V297.85ZM12.1295 243.25H31.7795C38.6795 243.25 43.7795 241.8 47.0795 238.9C50.4795 236 52.1795 231 52.1795 223.9C52.1795 219.3 51.2795 215.75 49.4795 213.25C47.6795 210.75 45.1795 209 41.9795 208C38.8795 207 35.2795 206.5 31.1795 206.5H12.1295V243.25Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
									<path d="M109.042 308.05C103.742 308.05 98.9424 306.75 94.6424 304.15C90.3424 301.45 86.8924 298 84.2924 293.8C81.6924 289.5 80.3924 284.85 80.3924 279.85V239.8C80.3924 238.9 80.8424 238.05 81.7424 237.25C82.7424 236.45 83.9424 236.05 85.3424 236.05C86.6424 236.05 87.7424 236.45 88.6424 237.25C89.6424 238.05 90.1424 238.9 90.1424 239.8V279.85C90.1424 283.15 90.9924 286.25 92.6924 289.15C94.3924 292.05 96.6424 294.45 99.4424 296.35C102.342 298.15 105.542 299.05 109.042 299.05C112.442 299.05 115.542 298.15 118.342 296.35C121.242 294.55 123.492 292.2 125.092 289.3C126.792 286.3 127.642 283.15 127.642 279.85V239.65C127.642 238.75 128.142 237.95 129.142 237.25C130.142 236.45 131.292 236.05 132.592 236.05C133.992 236.05 135.142 236.45 136.042 237.25C136.942 237.95 137.392 238.75 137.392 239.65V279.85C137.392 284.85 136.092 289.5 133.492 293.8C130.892 298.1 127.442 301.55 123.142 304.15C118.842 306.75 114.142 308.05 109.042 308.05Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
									<path d="M160.206 307C158.806 307 157.656 306.6 156.756 305.8C155.856 305 155.406 304.15 155.406 303.25V239.65C155.406 238.65 155.856 237.8 156.756 237.1C157.656 236.4 158.806 236.05 160.206 236.05C161.506 236.05 162.606 236.4 163.506 237.1C164.406 237.8 164.856 238.65 164.856 239.65V247C166.456 244 168.956 241.3 172.356 238.9C175.856 236.4 180.056 235.15 184.956 235.15H190.206C191.206 235.15 192.106 235.6 192.906 236.5C193.706 237.4 194.106 238.45 194.106 239.65C194.106 240.85 193.706 241.9 192.906 242.8C192.106 243.7 191.206 244.15 190.206 244.15H184.956C181.656 244.15 178.456 245.05 175.356 246.85C172.356 248.55 169.906 251.05 168.006 254.35C166.106 257.55 165.156 261.45 165.156 266.05V303.25C165.156 304.15 164.656 305 163.656 305.8C162.756 306.6 161.606 307 160.206 307Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
									<path d="M228.468 307C220.768 307 214.868 305.25 210.768 301.75C206.668 298.25 204.618 292.65 204.618 284.95V205.9C204.618 204.9 205.118 204.05 206.118 203.35C207.218 202.65 208.318 202.3 209.418 202.3C210.718 202.3 211.868 202.65 212.868 203.35C213.868 204.05 214.368 204.9 214.368 205.9V236.05H233.868C234.868 236.05 235.668 236.5 236.268 237.4C236.868 238.2 237.168 239.1 237.168 240.1C237.168 241.2 236.868 242.15 236.268 242.95C235.668 243.75 234.868 244.15 233.868 244.15H214.368V284.95C214.368 289.85 215.418 293.3 217.518 295.3C219.618 297.2 223.268 298.15 228.468 298.15H232.668C233.968 298.15 235.018 298.6 235.818 299.5C236.618 300.4 237.018 301.4 237.018 302.5C237.018 303.7 236.618 304.75 235.818 305.65C235.018 306.55 233.968 307 232.668 307H228.468Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
									<path d="M273.492 308.05C268.392 308.05 263.692 306.75 259.392 304.15C255.092 301.45 251.592 297.95 248.892 293.65C246.292 289.25 244.992 284.55 244.992 279.55V263.2C244.992 258.2 246.292 253.6 248.892 249.4C251.492 245.1 254.942 241.65 259.242 239.05C263.542 236.45 268.292 235.15 273.492 235.15C278.592 235.15 283.292 236.45 287.592 239.05C291.892 241.55 295.342 244.95 297.942 249.25C300.642 253.45 301.992 258.1 301.992 263.2V279.55C301.992 284.55 300.642 289.25 297.942 293.65C295.342 297.95 291.892 301.45 287.592 304.15C283.292 306.75 278.592 308.05 273.492 308.05ZM273.492 299.05C276.892 299.05 279.992 298.15 282.792 296.35C285.692 294.45 287.992 292.05 289.692 289.15C291.392 286.15 292.242 282.95 292.242 279.55V263.2C292.242 260 291.392 256.95 289.692 254.05C288.092 251.15 285.842 248.8 282.942 247C280.142 245.1 276.992 244.15 273.492 244.15C269.992 244.15 266.792 245.1 263.892 247C261.092 248.8 258.842 251.15 257.142 254.05C255.542 256.95 254.742 260 254.742 263.2V279.55C254.742 282.95 255.592 286.15 257.292 289.15C258.992 292.05 261.242 294.45 264.042 296.35C266.842 298.15 269.992 299.05 273.492 299.05Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
									<path d="M322.804 307C321.404 307 320.254 306.6 319.354 305.8C318.454 305 318.004 304.15 318.004 303.25V239.65C318.004 238.65 318.454 237.8 319.354 237.1C320.254 236.4 321.404 236.05 322.804 236.05C324.104 236.05 325.204 236.4 326.104 237.1C327.004 237.8 327.454 238.65 327.454 239.65V246.55C329.054 243.65 331.554 241.05 334.954 238.75C338.354 236.35 342.554 235.15 347.554 235.15C352.354 235.15 356.754 236.45 360.754 239.05C364.854 241.55 368.104 244.95 370.504 249.25C372.904 253.45 374.104 258.1 374.104 263.2V303.25C374.104 304.45 373.604 305.4 372.604 306.1C371.604 306.7 370.454 307 369.154 307C368.054 307 366.954 306.7 365.854 306.1C364.854 305.4 364.354 304.45 364.354 303.25V263.2C364.354 260 363.504 256.95 361.804 254.05C360.204 251.15 357.954 248.8 355.054 247C352.254 245.1 349.154 244.15 345.754 244.15C342.754 244.15 339.854 244.9 337.054 246.4C334.354 247.9 332.104 250.1 330.304 253C328.604 255.8 327.754 259.2 327.754 263.2V303.25C327.754 304.15 327.254 305 326.254 305.8C325.354 306.6 324.204 307 322.804 307Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
									<path d="M393.325 275.2C392.225 275.2 391.325 274.85 390.625 274.15C389.925 273.35 389.575 272.3 389.575 271C389.575 269.8 389.925 268.75 390.625 267.85C391.325 266.95 392.225 266.5 393.325 266.5H432.325C433.225 266.5 434.075 266.95 434.875 267.85C435.675 268.75 436.075 269.8 436.075 271C436.075 272.3 435.675 273.35 434.875 274.15C434.075 274.85 433.225 275.2 432.325 275.2H393.325Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
									<path d="M458.784 307C457.684 307 456.634 306.7 455.634 306.1C454.734 305.4 454.284 304.45 454.284 303.25V200.95C454.284 199.75 454.784 198.85 455.784 198.25C456.784 197.65 457.934 197.35 459.234 197.35C460.434 197.35 461.534 197.65 462.534 198.25C463.634 198.85 464.184 199.75 464.184 200.95V297.85H506.934C508.034 297.85 508.834 298.35 509.334 299.35C509.934 300.25 510.234 301.3 510.234 302.5C510.234 303.6 509.934 304.65 509.334 305.65C508.834 306.55 508.034 307 506.934 307H458.784Z" stroke="white" stroke-width="" mask="url(#path-1-outside-1)"/>
									<path d="M537.221 308.05C531.521 308.05 526.671 306.45 522.671 303.25C518.771 299.95 516.821 294.95 516.821 288.25C516.821 282.75 518.271 278.55 521.171 275.65C524.171 272.65 528.271 270.6 533.471 269.5C538.771 268.3 544.871 267.7 551.771 267.7H559.421V264.1C559.421 260.9 558.821 257.75 557.621 254.65C556.521 251.45 554.671 248.85 552.071 246.85C549.471 244.75 546.021 243.7 541.721 243.7C538.421 243.7 535.721 244.1 533.621 244.9C531.521 245.6 529.871 246.3 528.671 247C527.471 247.7 526.471 248.05 525.671 248.05C524.371 248.05 523.371 247.45 522.671 246.25C522.071 245.05 521.771 243.9 521.771 242.8C521.771 241.5 522.771 240.3 524.771 239.2C526.871 238 529.471 237.05 532.571 236.35C535.671 235.55 538.821 235.15 542.021 235.15C548.721 235.15 554.021 236.55 557.921 239.35C561.921 242.05 564.771 245.6 566.471 250C568.271 254.4 569.171 259.1 569.171 264.1V303.25C569.171 304.25 568.721 305.15 567.821 305.95C566.921 306.65 565.771 307 564.371 307C563.071 307 561.971 306.65 561.071 305.95C560.271 305.15 559.871 304.25 559.871 303.25V296.5C557.271 299.5 554.071 302.2 550.271 304.6C546.571 306.9 542.221 308.05 537.221 308.05ZM539.621 299.95C542.821 299.95 545.921 299.1 548.921 297.4C552.021 295.7 554.521 293.6 556.421 291.1C558.421 288.6 559.421 286.25 559.421 284.05V274.45H553.121C548.521 274.45 544.171 274.75 540.071 275.35C536.071 275.85 532.821 277.05 530.321 278.95C527.821 280.75 526.571 283.55 526.571 287.35C526.571 291.65 527.821 294.85 530.321 296.95C532.821 298.95 535.921 299.95 539.621 299.95Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
									<path d="M607.363 308.2C606.363 308.2 605.513 308 604.813 307.6C604.213 307.2 603.713 306.4 603.313 305.2L579.913 242.35C579.813 242.05 579.663 241.7 579.463 241.3C579.363 240.8 579.313 240.4 579.313 240.1C579.313 238.9 579.964 237.9 581.264 237.1C582.564 236.2 583.863 235.75 585.163 235.75C586.963 235.75 588.113 236.5 588.613 238L607.813 291.55L623.264 242.65C623.764 240.95 625.063 240.1 627.163 240.1C629.163 240.1 630.463 240.95 631.063 242.65L645.913 292L665.563 238C665.963 236.5 667.063 235.75 668.863 235.75C670.163 235.75 671.464 236.15 672.764 236.95C674.064 237.75 674.713 238.8 674.713 240.1C674.713 240.5 674.614 240.95 674.414 241.45C674.314 241.85 674.213 242.15 674.113 242.35L650.713 305.8C650.413 306.7 649.863 307.3 649.063 307.6C648.363 308 647.613 308.2 646.813 308.2C644.813 308.2 643.464 307.45 642.764 305.95L627.163 257.2L611.713 305.2C611.013 307.2 609.563 308.2 607.363 308.2Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
									<path d="M692.416 307C691.016 307 689.866 306.6 688.966 305.8C688.066 305 687.616 304.15 687.616 303.25V196.15C687.616 195.15 688.066 194.3 688.966 193.6C689.866 192.9 691.016 192.55 692.416 192.55C693.816 192.55 694.966 192.9 695.866 193.6C696.866 194.3 697.366 195.15 697.366 196.15V303.25C697.366 304.15 696.866 305 695.866 305.8C694.966 306.6 693.816 307 692.416 307Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)"/>
								</svg>
									
								<p id="jobRole" class="fade-in title" >Web developer</p>
							</div>				
						</div>
					</div>
					<img id="scrorrow" src="img/Arrow.svg" alt="">
						
				</div>		
			</div>
	<!--About-->			
		<div id="nav-about" class="grid-item content-box">
			<div class="about-wrap">
				<div class="text-wrap">
					<div>
						<h2 class="fader">ABOUT</h2>
						<p class="fader">Hi there! My name is Tom, and I am an aspiring full stack web developer from the south west of the Uk. I love coding, problem solving, learning, Dungeons and Dragons, and climbing! If you'd like to know more about my story you can read it below, or skip straight to my portfolio and get in touch if you'd like to work with me!</p>

						<div id="myStory" class="expandableDiv">
							<div>
								<p><strong>My story</strong></p>
								<p>After studying Music at University I returned home to the west country to work in health and social care as a senior support worker, and specifically I worked with adults with Autism. I loved this job! It meant I could help others to pursue their interests and work alongside them to problem solve on a daily basis with the aim to support great people to live their best lives.</P>
								<p>Many of my clients loved video games and computing, and one day I stumbled upon a treasure trove of online computing courses that I had great fun introducing to my clients. What I didn't expect was that when I sat down to support people to take part in these courses, I would myself discover a passion for coding that I never knew was in me!</p>
								<p>From that point onwards I became determined to become a web developer and have been learning as much as I can about it ever since.</p>
								<p>I am currently honing my skills with freelance work, and taking exciting steps to expand my knowledge of wed design and development. Take at look at the projects I have worked on in my portfolio section, and please feel free to get in touch if you like what you see!</p>
								<p><strong>Tom :)</strong></p>
							</div>
						</div>

						<button class="expandButton fader">Read More</button>
					
						<div id="mediaIcons" class="fader">
							<a href="https://www.linkedin.com/in/thomas-burton-lawl-39560a1a1/"><img class ="mIcon" src="/img/LI-In-BugC.png" alt="LinkedIn Icon"></a>
							<a href="https://www.freecodecamp.org/nartuom"><img class="mIcon" src="/img/fcc_secondary_smallC.png" alt="Free code camp icon"></a>
							<a href="https://github.com/Nartuom"><img class="mIcon" src="/img/OctocatC.jpg" alt="Github Icon"></a>
							<a href="https://codepen.io/Nartuom"><img class="mIcon" src="/img/Codepen-Black-LargeC.png" alt="Codepen icon"></a>
						</div>
					</div>
					
				</div>		
				<div class="image-wrap fader">
					<img class="image koreaTom" src="/img/umbrellatomC.jpg" alt="A picture of Tom Burton standing under many colorful umbrellas in the mist">
				</div>	
			</div>
		</div>

	<!--Skills  -->
		<h2  class="grid-item margin fader">Skills</h2>
		<div class="grid-item skills">
			<div class="skill-container slide-in slide-left a">
				<div class="skill-box">
					<div>
						<p class="skill-type fader">FRONTEND</p>
						<ul class="fader">
							<li>
								<img class="tick" src="/img/tick.svg" alt="A tick icon">
								HTML5			
							</li>
							<li>
								<img class="tick" src="/img/tick.svg" alt="A tick icon">		
								CSS
							</li>
							<li>
								<img class="tick" src="/img/tick.svg" alt="A tick icon">
								Javascript
							</li>
							<li>
								<img class="tick" src="/img/tick.svg" alt="A tick icon">
								Bootstrap 4
							</li>
						</ul>
					</div>					
				</div>			
			</div>
			<div class="skill-container slide-in slide-left b">
				<div class="skill-box fader">
					<div>
						<p class="skill-type fader">BACKEND</p>
						<ul class="fader">
							<li>
								<img class="tick" src="/img/tick.svg" alt="A tick icon">
								Node.js
							</li>
							<li>
								<img class="tick" src="/img/tick.svg" alt="A tick icon">
								Express.js				
							</li>
							<li>
								<img class="tick" src="/img/tick.svg" alt="A tick icon">
								MongoDB
							</li>
							<li>
								<img class="tick" src="/img/tick.svg" alt="A tick icon">					
								Mongoose.js
							</li>
							<li>
								<img class="tick" src="/img/tick.svg" alt="A tick icon">					
								PHP
							</li>	
						</ul>
					</div>					
				</div>	
			</div>
			<div class="skill-container slide-in slide-left c">
					<div class="skill-box fader">
						<p class="skill-type fader">CMS & VERSION CONTROL</p>
						<ul class="fader">
							<li>
								<img class="tick" src="/img/tick.svg" alt="A tick icon">
								Wordpress
							</li>
							<li>
								<img class="tick" src="/img/tick.svg" alt="A tick icon">
								GIT & GITHUB
							</li>
						</ul>
					</div>
			</div>
			<div class="skill-container slide-in slide-left d">
				<div class="skill-box fader">
					<p class="skill-type fader">OTHER SKILLS</p>
					<ul class="fader">
						<li>
							<img class="tick" src="/img/tick.svg" alt="A tick icon">
							Great communicator 
						</li>
						<li>
							<img class="tick" src="/img/tick.svg" alt="A tick icon">
							Friendly and approachable
						</li>
						<li>
							<img class="tick" src="/img/tick.svg" alt="A tick icon">
							Love of learning
						</li>
						<li>
							<img class="tick" src="/img/tick.svg" alt="A tick icon">
							Professional
						</li>
					</ul>
				</div>
			</div>		
		</div>

	<!--Portfolio Section-->	
		<div class="grid-item content-box portfolio">
			<div class="portfolio-wrap">
				<div class="text-wrap">
					<div>
						<h2 class="fader">Melanie Phelps</h2>
						<p class="fader">This site was commisioned in early 2020 and was the first free-lance project I undertook. The site is made using vanilla HTML, CSS, and javascript for its front-end, and utilizes a simple backend using Node.js, express.js and a variety of packages to handle client enquiries and emails.</p>
						<div class="mediaIcons">
							<div><img class="mIcon fader" src="/img/html5icon.png" alt="A HTML 5 icon"></div>
							<div><img class="mIcon fader" src="/img/CSS.3.svgC.png" alt="A CSS 3 icon"></div>
							<div><img class="mIcon fader" src="/img/javascript.png" alt="A JavaScript icon"></div>
							<div><img class="mIcon-node fader" src="/img/node-js.png" alt="A node.js icon"></div>
							<div><img class="mIcon-express fader" src="/img/expressC.png" alt="An express.js icon"></div>
						</div>
					</div>
				</div>
				<div class="showcase-container fader">
					<a href="https://www.melaniephelps.co.uk">
						<h3 class="fader">Brochure website</h3>
						<div class="image-wrap fader">
							<img class="portfolio-image fader" src="/img/icot_screenshotC.jpg" alt="An preview image of the homepage of www.melaniephelps.co.uk">
						</div>
						
					</a>
				</div>					
			</div>
		</div>

		<!--Contact information-->	
		<div id="nav-contact"class="grid-item content-box">
			<div class="text-wrap">
				<div>
					<h2 class="fader">CONTACT</h2>
					<p class="fader">If you like what you see, would like to talk about working with me, or just fancy a chat! Then please don't hesitate to get in touch using the form below, or if you prefer you can reach me at: <strong>thomas.burton.lawl@gmail.com</strong></p>
					<form id="contactForm" method="POST" action="/"  class="fader">
						<label for="name" >Your Name*</label> <label for="email">Your Email*</label> 
						<input type="text" name="user_name" id="name" placeholder="...Your name" required>
						<input type="email" name="user_email" id="email" placeholder="...Your email address" required>
						<label for="message">Your Message</label>
						<br>
						<textarea name="user_message" id="message" type="textarea" placeholder="Write your message here" required></textarea>
						<br>
						<button
						class="g-recaptcha" 
						data-sitekey= "6LcOuPsUAAAAAFBlAuCUCQ6kui7xBynfNBmXwPz1" 
						data-callback='onSubmit' 
						data-action='submit'
						>Submit</button>				
					</form>
					<div id="captchaDiv" class="fader">
						This site is protected by reCAPTCHA and the Google
						<a href="https://policies.google.com/privacy">Privacy Policy</a> and
						<a href="https://policies.google.com/terms">Terms of Service</a> apply.
					</div>	
				</div>			
			</div>
			<div class="image-wrap fader">
				<img src="/img/BoracayC.jpg" alt="An image of Tom on the beach in the Phillipines with his back to the camara walking into the blue ocean">
			</div>		
		</div>

		<footer class="grid-item footer">Handcrafted by ©2020 Thomas Burton-Lawl</footer>

	</div>
	<script type="text/javascript" src="/scripts/index.js"></script>	
</body>

</html>
