<DOCTYPE! html>
<html>
	<head>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<title>The Gateway</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/gateway.css">
		<link href="https://fonts.googleapis.com/css?family=Dosis:400,600,700&display=swap" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="stylesheet" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="manifest" href="/site.webmanifest">
	</head>
	<body>
    <%- include("partials/nav") %>
    <div class="big-rectangle success">
        <div class="big-rectangles success"></div>
        <div class="big-rectangles success"></div>
        <div class="big-rectangles success"></div>
        <div class="big-rectangles success"></div>	
    </div>
    <div class="container">
        <div class="grid-item home">
            <div id="title-block">
                <div class="drop-wrapper">
                    <div class="droptangle">
                        <div class="small-rectangles"></div>
                        <div class="small-rectangles"></div>
                        <div class="small-rectangles"></div>
                        <div class="small-rectangles"></div>
                        <div class="small-rectangles"></div>
                    </div>
                    <div class="droptangle-repeat">
                        <div class="small-rectangles"></div>
                        <div class="small-rectangles"></div>
                        <div class="small-rectangles"></div>
                        <div class="small-rectangles"></div>
                        <div class="small-rectangles"></div>
                    </div>						
                    
                    <div id="title-card">
                        <div class="title-inner">
                            <p id="jobRole" class="fade-in success" >Thank you for your message, it was sent successfully. i will get back to you as soon as I can :) </p>
                            <p class="fade-in active success redirectMsg">You will be redirected to my main page in <span id="redirectSecs"></span> seconds...</p>
                        </div>				
                    </div>
                </div>
            </div>			
        </div>
    </div>
        
    </body>
    <script type="text/javascript" src="/scripts/index.js"></script>
    <script>
        var secs = document.getElementById("redirectSecs");
        //Using setTimeout to execute a function after 5 seconds.
        setTimeout(function(){ secs.innerHTML = "5" }, 0);
        setTimeout(function(){ secs.innerHTML = "4" }, 3000);
        setTimeout(function(){ secs.innerHTML = "3" }, 4000);
        setTimeout(function(){ secs.innerHTML = "2" }, 5000);
        setTimeout(function(){ secs.innerHTML = "1" }, 6000);
        
        setTimeout(function () {
        //Redirect with JavaScript
        window.location.href= 'https://www.tombl.co.uk';
        }, 7000);
    </script>
</html>
		