@media(max-width:1500px){
	#myCanvas{
		width: 100%;
		height:auto;
		max-height:70%;
	}

}

@media(max-width:1200px){
	#myCanvas{
		width: 100%;
		height:auto;
		max-height:60%;
	}
}

@media(max-width:900px){
	#myCanvas{
		width:100%;
		height:auto;
		max-height:45%;
	}
}

body {
	background-color: #FFFFFF ;
	background-size: cover;
	color: #000000; 
	font-family: 'Dosis', sans-serif;
	margin:0;
	padding:0;
	overflow-x: hidden;
}

nav{
	position:fixed;
	width:100%;
	height:75px;
	top:0;
	left:0;
	background: #274d5A;
	z-index: 1;
	padding-left: 10.2%;
	margin-bottom: 10%;
}
nav ul{
	text-align: center;
	display:inline-flex;
	color: #ffffff;
	list-style-type: none;
	margin:0;
	padding:0;

}

nav ul li {
	font-size:22px;
	padding:24px 28px 0 0;
}
nav a{
	text-decoration: none
}

nav a{
	color: #c83f77;	
}

#home{
	display:block;
	max-width:100%;
	height:auto;
	min-height:250px;
	margin-bottom:5%;

}

#myCanvas{
	border: 1px solid black;
	background-color: #274d5A;
	width: 100%;
	height:auto;
	min-height: 300px;
	position: absolute;
	top:0;
	left:0;
	z-index: -1;
	/* scroll-snap-align: end; */
}



#intro-wrap{
	margin: 10% 0 5% 10.7%;
	padding-top:50px;
	max-width: 100%;
	height:auto;
	min-height: 200px;
	opacity: 0.5;
	
}

#intro-wrap h1{
	color: #ffffff;
	font-size: 6.5vw;
	font-weight: 600;
	margin: 0;
}

#intro-wrap h3{
	color: #c83f77;
	font-size: 3vw;
	margin:0;

}


.margin-wrap {
	margin: 15% 10.7% 0;
}


#bio-container {
	display: flex;
	flex-wrap: wrap;
	padding-top: 80px;
	/* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: minmax(250px, 334px);
	grid-column-gap: 30px; */

}

#bio-container div {
	float:left;
	width:45%;
	padding-right: 20px;
	font-size: 22px;
	flex-grow:1;
	justify-content: space-evenly;
}
#bio-container img{
	float: right;
	max-width: 100%;
	border: 1px solid black;
}

h2 {
	font-size: 100px;
	color: #274D5A;
	text-transform: uppercase;
	font-weight: 600;
	margin:0 0;
	padding-bottom: 27px;
}

h3 {
	font-size: 50px;
	color: #274D5A;
	text-transform:uppercase;
	font-weight: 600;
	margin: 70px 0 30px 0
}

h5 {
	color: #274D5A;
	font-size:22px;
}

.skills-container {
	display:flex;
	flex-wrap: wrap;
	padding: 10px 0;
	margin:36px 0 100px 0;
	max-height:auto;
	max-width: 100%;	
}

.skills-container div{
	text-align:center;
	font-size: 18px;

	max-height: 300px;
	width: 16.1%;
	min-width:240px;
	flex-grow:1;

	border: 1px solid black;
	margin:0 15px 15px 0;
	padding: 15px 15px 20px 15px;
} 

.skills-container div img{
	height: 125px;
	width: auto;
}

#portfolio-background{
	background-color: #e8e8e8;
	opacity: 0.9;	
}
#portfolio-background h2{
	padding-top: 8%;
}

.projects-container {
	display:grid;
	grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
	grid-column-gap: 15px;
	grid-row-gap:15px;
	
}

.projects-thumbnail{
	width:100%;
	
}

.contact-container{
	display:flex;
	height: 100%;
	margin: 10.2% 0 0 10.7%;
	font-size: 22px;
	padding:15px;
}
.contact-container img{
	float: right;
	height:980px;
	width:auto;
	margin:0;
}

form {
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	padding-right:20px;

	
}

form input {
	border: 1px solid #a5a5a5;
	height: 45px;
	padding:10px;
	font-size:18px;
}

form textarea{
	grid-column: span 2;
	width: 100%;
	height:150px;

	font-family:'Dosis', sans-serif;
	font-size:18px;

	padding:10px;
}

#githubIcon{
	grid-column:1;
	height:48px;
	width:48px;
}

form button {
	grid-column: span 1.5;
}









	






	




