body {
	margin:0;
	padding-top:20px;
	height: 100%;
	width:100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	font-size: calc(1.5vh + 0.5vw);
	font-family: 'calibri', sans-serif ;
	color: #1A1A1D; 
}

nav{
	position:fixed;
	width:100%;
	height:8.5vh;
	top:0;
	left:0;
	background: #1A1A1D;
	z-index: 2;
	padding: 0 10.2%;
	margin-bottom: 10%;
	border-bottom:1px solid #C3073F;
}
nav ul{
	text-align: center;
	display:inline-flex;
	color: #c83f77;
	list-style-type: none;
	margin: auto;
	padding:0;
	justify-content: space-evenly;

}

nav ul li {
	font-size:calc(2vh + 0.5vw);
	font-weight: 700;
	padding:24px 0 0 0;
}
nav a{
	text-decoration: none;
	padding-right: 4.2vw;
}

nav a{
	color: #c83f77;	
}

.margin {
	margin-left: 10.2vw;
	margin-right: 10.2vw;
}

.container {
	display: grid;
	width: 100vw;
	grid-template-columns: repeat(4, 25vw);
	grid-template-rows: repeat(2, minmax(auto, 50vh));
}

.grid-item {
	grid-column:span 4;
}
/* Home Section */
.grid-item.home{
	grid-row: span 2;
	width: 100vw;
	min-width: 250px;
	background:  #1A1A1D;
	align-items: center;
}

h1 {
	font-size: calc(12vh + 0.5vw);
	font-weight: 500;
	color: #FFFFFF;
	text-transform: uppercase;
}
#T {
	margin-top: 17.5vh;
	margin-bottom: 0;
}
#BL {
	margin-top: 0;
}

h2 {
	font-size: calc(10vh + 0.5vw);
	font-weight: 400;
	color: #c83f77;
	margin: 8.5vh 0 0;
	padding-right: 2rem;
	text-transform: uppercase;
}

h3 {
	font-size: calc(8vh + 0.5vw);
	font-weight: 400;
	color: #274D5A;
	margin: 9.5vh 0 0;
	padding-bottom: 3vh;
	text-transform: uppercase;
}

h4 {
	font-size: calc(4vh + 0.5vw);
	color: #c83f77;
}
h5 {
	font-size: calc(1.5vh + 0.5vw);
	font-weight: 600;
	margin: 0;
	padding: 0.75rem 0.75vw;
}
/* About section */
.grid-item.about {
	display: inline-flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100vw;
	justify-content: space-evenly;
}
.text-wrap {
	display: inline-block;
	padding-left: 10.2vw;
	padding-right: 2rem;
	margin-bottom: 2.5vw;
	flex-grow: 1;
	flex-basis: 30vw;
}
.image-wrap {
	display: flex;
	flex-basis: 50%;
	flex-grow: 1;
}
.image-wrap img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	margin: 0;
	image-rendering: auto;
}
/* Skills Section */
.grid-item.skills {
	grid-row: span 2;
	display: inline-flex;
	flex-wrap: wrap;
	margin: 0 10.2vw 9.5vh;
	justify-content: space-evenly;
}
.present-box {
	display:flex;
	flex-grow: 1;
	text-align: center;
	justify-content: center;
	min-width: 250px;
	flex-basis:15%;
	/* flex-shrink: 2; */
	height: auto;
	margin: 0.5rem 0.5rem;
}

.present-box div{
	text-align: center;
	min-width: 250px;
	width:14%;
	padding: 0.5rem 0.5rem;
}
.s-img {
	object-fit:contain;
	height:150px;
	width:150px;
}
.p-img {
	object-fit: cover;
	height: auto;
	width: 100%;
}
/* portfolio Section */
.background-grey {
	background: #4e4e50;
}
#nav-portfolio {
	padding: 9.5vh 10.2vw 2rem;
	margin: 0;
	font-weight: 400;
	color: #C3073F;
}

.grid-item.portfolio {
	display:inline-flex;
	flex-wrap: wrap;
	grid-row: span 2;
	padding: 0 10.2vw 9.5vh;
}

.projects-thumbnail a {
	text-decoration: none;
}
.projects-thumbnail a:visited {
	text-decoration: none;
	color: black;
}

/* Contact section */

.grid-item.contact {
	display:inline-flex;
	flex-wrap: wrap;
	grid-row: span 2;
}
/* Form */
form {
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	padding-right:2vw;
}

form input {
	border: 1px solid #a5a5a5;
	height: 45px;
	padding:10px;
	width: 100%;
}

form textarea{
	grid-column: span 2;
	width: 100%;
	height:150px;
	padding:10px;
}

form button {
	grid-column: 1;
	padding: 10px;
}

#contact img {
	width: 100%;
	min-width: 250px;

}


/* animation classes */
/* Landing Page */
.slide-down {
	transition: all 2.5s;
	opacity: 0;
	transition-timing-function: ease;
}

.slide-down.a {
	transition-delay: 0;
	transform: translateY(-85%) scale(0.85);
	opacity: 0;
}
.slide-down.b {
	transition-delay: 0.1s;
	transform: translateY(-70%) scale(0.750);
}

.slide-down.active {
	transform: translateY(0%) scale(1);
	opacity: 1;
}
.slide-right.title {
	transition-delay: 0.2s;
	transform: translateX(50%) scale(0.85);
	opacity: 0;	
}
.slide-right.title.active {
	transition-duration:2.5s ;
	transform: translateX(0%) scale(1);
	opacity: 1;
}
/* Skill and project sliders */
.slide-in {
	transition:all 1s;
	opacity:0;
	transition-timing-function: ease;
}

.slide-left.slide-in { 
	transform: translateX(-75%) scale(0.90);	
}

.slide-in.active{
	transform: translateX(0%) scale(1);
	opacity: 1;
}

.slide-in.slide-left.a{
	transition-delay:0;
}
.slide-in.slide-left.b{
	transition-delay: 0.2s;
}
.slide-in.slide-left.c{
	transition-delay: 0.4s;
}
.slide-in.slide-left.d{
	transition-delay: 0.6s
}
.slide-in.slide-left.e{
	transition-delay: 0.8s;
}
.slide-in.slide-left.f{
	transition-delay: 1s;
}


/* Media Queries */
@media(max-width: 1900px) {
	
}
@media(max-width:1400px){
	body {
		font-size: calc(2vh + 0.5vw);
	}
	.text-wrap {
		padding-left:10.2vw;
		padding-right:10.2vw;
	}
}

@media(max-width:800px){
	body {
		font-size: calc(2vh + 0.5vw);
	}
	#T {
		font-size: calc(9vh + 0.5vw);
	}
	#BL {
		font-size: calc(9vh + 0.5vw);
	}
	h3 {
		text-align: center;
	}
	.text-wrap {
		padding-bottom:8vh;
		padding-left: 10.2vw;
		padding-right:10.2vw;
	}
	form input {
		font-size: 2vh;
	}
	
}

@media(max-width:400px){
	body {
		font-size: calc(2vh + 0.5vw);
	}
	#T {
		font-size: calc(8vh + 0.5vw);
	}
	#BL {
		font-size: calc(8vh + 0.5vw);
	}
	h3 {
		text-align: center;
	}
	.slide-right.title {
		transition-delay: 0.2s;
		transform: translateX(0%) scale(0.85);
		opacity: 0;	
	}
	form input {
		font-size: 1.5vh;
	}
	
}





	






	




